/*@charset "UTF-8";*/
.clr, .clear{clear:both;}
.hide{display:none !important;}
.left{float: left;}
.right{float:right;}
.center{text-align:center !important;}
.bold{font-weight:bold;}
.redText{color: #FF0000 !important;}
.greenText{color: #009A00 !important;}
.blueText{color: #0000FF !important;}
.yellowText{color: #FFA200 !important;}
.orangeText{color: #FF5500 !important;}
.purpleText{color: #A006FF !important;}
.inline-block{display: inline-block;}
.error-message{color: #900 !important;}
.alignRight{text-align: right;}
.alignLeft{text-align: left;}
.block{display:block;}
.nobold{font-weight: normal !important;}
.small{font-size: 0.7em !important;}
.xsmall{font-size: 0.6em !important;}
.noMargin{margin:0 !important;}
.inner, .inner10, .padding, .padding10{padding:10px;}
.inner5, .padding5, .index{padding:5px;}
.inner15, .padding15{padding:15px;}
.inner20, .padding20{padding:20px;}
.outer5{margin:5px;}
.outer, .outer10{margin:10px;}
.outer15{margin:15px;}
.outer20{margin:20px;}
.v-outer5, .v-margin5{margin-top: 5px; margin-bottom: 5px;}
.v-outer, .v-outer10, .v-margin{margin-top: 10px; margin-bottom: 10px;}
.v-outer15, .v-margin15{margin-top: 15px; margin-bottom: 15px;}
.v-outer20, .v-margin20{margin-top: 20px; margin-bottom: 20px;}
.v-inner, .v-inner10, .v-padding, .v-padding10{padding-top:10px; padding-bottom:10px;}
.v-inner5, .v-padding5{padding-top:5px; padding-bottom:5px;}
.v-inner15, .v-padding15{padding-top:15px; padding-bottom:15px;}
.v-inner20, .v-padding20{padding-top:20px; padding-bottom:20px;}
.no-padding{padding: 0 !important;}
.t-padding5{padding-top:5px;}
.t-padding, .t-padding10{padding-top:10px;}
.t-padding15{padding-top:15px;}
.t-padding20{padding-top:20px;}
.r-padding5{padding-right:5px;}
.r-padding, .r-padding10{padding-right:10px;}
.r-padding15{padding-right:15px;}
.r-padding20{padding-right:20px;}
.b-padding5{padding-bottom:5px;}
.b-padding, .b-padding10{padding-bottom:10px;}
.b-padding15{padding-bottom:15px;}
.b-padding20{padding-bottom:20px;}
.l-padding5{padding-left:5px;}
.l-padding, .l-padding10{padding-left:10px;}
.l-padding15{padding-left:15px;}
.l-padding20{padding-left:20px;}
.h-inner5, .h-padding5{padding-right:5px; padding-left:5px;}
.h-inner, .h-inner10, .h-padding, .h-padding10{padding-right:10px; padding-left:10px;}
.h-inner15, .h-padding15{padding-right:15px; padding-left:15px;}
.h-inner20, .h-padding20{padding-right:20px; padding-left:20px;}
.h-margin5{margin-left:5px; margin-right: 5px;}
.h-margin, .h-margin10{margin-left:10px; margin-right: 10px;}
.h-margin15{margin-left:15px; margin-right: 15px;}
.h-margin20{margin-left:20px; margin-right: 20px;}
.l-margin5{margin-left:5px;}
.l-margin, .l-margin10{margin-left: 10px;}
.l-margin15{margin-left:15px;}
.l-margin20{margin-left:20px;}
.r-margin5{margin-right:5px;}
.r-margin, .r-margin10{margin-right: 10px;}
.r-margin15{margin-right:15px;}
.r-margin20{margin-right:20px;}
.b-margin5{margin-bottom:5px;}
.b-margin, .b-margin10{margin-bottom: 10px;}
.b-margin15{margin-bottom:15px;}
.b-margin20{margin-bottom:20px;}
.t-margin5{margin-top:5px;}
.t-margin, .t-margin10{margin-top: 10px;}
.t-margin15{margin-top:15px;}
.t-margin20{margin-top: 20px;}
.b-margin20{margin-bottom: 20px;}
.no-margin{margin:0 !important;}
.no-v-margin{margin-top:0; margin-bottom:0;}
.no-h-margin{margin-left:0; margin-right:0;}
.align-block-middle{margin-left:auto !important; margin-right:auto !important; display: block !important;}
.relative{position: relative;}
.no-border{border:none !important;}
.highlight-cell td{background-color:#ccffff !important}
.underlined{text-decoration: underline;}
.page-left-col{width: 592px; float: left;}
.break-all{word-break:break-all;}
.v-align-top{vertical-align: top;}
.break-word{word-break: break-word;}
.overflow-visible{overflow: visible;}
div.required.errorField label{ color: #900 !important; }
div.required label:after{ content: ' *' }


body.admin-layout {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}

.navbar-brand {
	font-size: 20px;
}
th.condensed, td.condensed{
	width: 1%;
}
#bottom-shade {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	box-shadow: 1px 1px 5px 0 rgba(11,30,44,0.9);
	overflow: hidden;
	background-color: #234;
	background-color: rgba(11, 30, 44, 0.9);
	z-index: 1051;
}
#bottom-shade .alert {
	left: 50%;
	position: relative;
	margin-left: -500px;
	width: 950px;
	margin-bottom: 20px;
	margin-top: 20px;
}



/* datatables */

div.dataTables_length label {
	float: left;
	text-align: left;
}
div.dataTables_length select {
	width: 75px;
}
div.dataTables_filter label {
	float: right;
}
div.dataTables_info {
	padding-top: 8px;
}
div.dataTables_paginate {
	float: right;
	margin: 0;
}
table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}
table .header:hover {
	cursor: pointer;
	text-decoration: underline;
}
.bootstrap-timepicker-widget{
	z-index: 1051;
}
.child-control {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.control-group.multiple .child-control.error input, .control-group.multiple .child-control.error select, .control-group.multiple .child-control.error textarea{
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.multiple .child-control.success input, .control-group.multiple .child-control.success select, .control-group.multiple .child-control.error textarea{
	border-color: #468847;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.multiple .child-control.success .input-prepend .add-on, .control-group.multiple .child-control.success .input-append .add-on {
	color: #468847;
	background-color: #dff0d8;
	border-color: #468847;
}
.control-group.multiple .child-control.error .input-prepend .add-on, .control-group.multiple .child-control.error .input-append .add-on {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #b94a48;
}
.input-block-level+.popover.right {
	margin-left: -50px;
}
.form-horizontal.form-condensed .control-group{
	margin-bottom: 10px
}
.input-append, .input-prepend{
	margin-bottom: 0;
}